body{
	background-color: black;
	color: white;
}

input{
	color: black;
}
button{
	color: black;
}
select{
	color: black;
}

#modal{
	display: none;
	z-index: 1;
	position: fixed;
	background-color: #888;	
	width: 50%;
	height: 50%;
	top: 25%;
	left: 25%;
}

.list{
	width: 25%;
	float: left;
}

.nongreyed{
	cursor: pointer;
}
.nongreyed:hover{
	color: yellow;
}

.greyed{
	text-decoration: line-through;
	color: grey;
}

